body{
    background-color: #252525;
}
.calculator {
    border: 2px solid #121212;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    margin-top:30px;
    margin-left: 450px;
    background-color: #121212;
}

.result {
    border: 2px solid #2A2A40;
    border-radius: 10px;
    background-color: #2A2A40;
    width: 90%;
    height: 70px;
    margin: 20px auto;
    color: #FFFFFF;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    overflow: hidden;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.button {
    background-color: #3A3A4D;
    color: #FFFFFF;
    font-size: 1.5em;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #2A2A40;
}

.clear, .delete {
    background-color: #FF6E6E;
    color: #FFFFFF;
}

.operator {
    background-color: #4FBDBA;
    color: #FFFFFF;
}

.equals {
    background-color: #3EFF6E;
    color: #FFFFFF;
}

.zero {
    grid-column: span 2; 
}
